langchain
langchain-core
langchain-community
pypdf
pymupdf
CSVLoader
JSONLoader
jq
sentence-transformers
chromadb
faiss-cpu
langchain-gpt5
python-dotenv
langchain-openai
openai
sentencepiece
gradio
transformers
torch
scipy
numpy
requests
beautifulsoup4
